// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /** Primary: ÑamÑam Lime **/
  --ion-color-primary: #84cc16;
  --ion-color-primary-rgb: 132, 204, 22;
  --ion-color-primary-contrast: #1a1a2e;
  --ion-color-primary-contrast-rgb: 26, 26, 46;
  --ion-color-primary-shade: #74b413;
  --ion-color-primary-tint: #90d12d;
}

